<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Welcome to the test application for {{company}}!
  </h1><br />

  <div class="row col-md-2">
    <div class="form-group">
      <label>Name: </label>
      <input type="text" class="form-control" [(ngModel)]="entityName"  />
    </div><br />
    <div class="form-group">
      <label>Description: </label>
      <textarea class="form-control" rows="3" [(ngModel)]="entityDescription"></textarea>
    </div><br />
    <div class="form-group">
      <button (click)="addEntity()" class="btn btn-primary">Add</button>
    </div>
  </div>

  <div class="row col-md-12"><br />
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entity of entityList; let i = index;">
          <td>{{ entity.id }}</td>
          <td>{{ entity.name }}</td>
          <td>{{ entity.description }}</td>
          <td>
            <i (click)="editEntity(entity)" style="cursor: pointer;" class="glyphicon glyphicon-edit text-primary"></i>&nbsp;&nbsp;&nbsp;        
            <i (click)="deleteEntity(entity)" style="cursor: pointer;" class="glyphicon glyphicon-trash text-danger"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
